<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Example</title>
  </head>
  <body>

    <!-- Example Code -->
    <div class="cards"style="margin-left:50px;margin-right:50px; margin-top:10%;padding: 50px;">
      <h3 class="text-center">Contact Form</h3>
      <form action="{% url 'conta' %}" method="post">
        {% csrf_token %}
    <div class="mb-3 p-10">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="enter your name">
    </div>
    <div class="mb-3 p-10">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
    </div>
    <div class="text-center">
    <button class="btn btn-primary">Send Me a Message</button>
    </div>  
    </form>
  </div>
    <!-- End Example Code -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>